<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a routerLink="/students" routerLinkActive="active">Students</a></li>
      <li class="nav-item"><a routerLink="/degrees" routerLinkActive="active">Degrees</a></li>
      <li class="nav-item"><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
      <li class="nav-item"><a routerLink="/statistics" routerLinkActive="active">Statistics</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
  </nav>