<!-- The navigation should be moved to a header component -->
<nav class="navbar">
  <div class="container navbar-container">
    <a routerLink="/" class="navbar-brand">
      <h1>University Management</h1>
    </a>
    <ul class="navbar-nav">
      @for (route of routes; track $index) {
        <li class="nav-item">
          <a  [routerLink]="route.url" routerLinkActive="active" class="nav-link">{{route.linkName}}</a>
        </li>
      }
    </ul>
  </div>
</nav>

<!-- Main Content -->
<main class="main-content">
  <div class="container">
    <h3>{{ welcomeMessage }}</h3>
    <p>{{ statusMessage}}</p>
    <router-outlet></router-outlet>
  </div>
</main>