<div>
    <h1>Create New Student</h1>
   
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" formControlName="firstName" type="text" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" formControlName="lastName" type="text" />
      </div>
      <div class="form-group">
        <label for="studentId">Student ID</label>
        <input id="studentId" formControlName="studentId" type="text" />
        <small>Format: YYYY-NNNN</small>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" />
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <input id="dateOfBirth" formControlName="dateOfBirth" type="date" />
      </div>
      <div class="form-group">
        <label for="degree">Degree</label>
        <input id="degree" formControlName="degree" type="text" />
      </div>
      <button type="submit" [disabled]="!studentForm.valid">Create Student</button>
    
  </div>
  