<div>
    <h1>Student Details</h1>
    <p>Student ID: {{ student.id }}</p>
    <p>Name: {{ student.firstName }} {{ student.lastName }}</p>
    <p>Date of Birth: {{ student.dateOfBirth }}</p>
    <p>Email: {{ student.email }}</p>
    <p>Degree: {{ student.degree }}</p>
    <p>Year: {{ student.year }}</p>
  
    <h2>Courses</h2>
    <ul>
      <li *ngFor="let course of student.courses">
        {{ course.code }} - {{ course.semester }} - Grade: {{ course.grade?.percentage || 'Not Graded' }}
      </li>
    </ul>
  
    <button routerLink="/students">Back to List</button>
    <button routerLink="/students/{{ student.id }}/edit">Edit</button>
    <button (click)="onDeleteStudent(student)">Delete</button>
  </div>
