<div class="degrees-list">
    <h2>Degrees List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Code</th>
          <th>Years to Complete</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let degree of degrees">
          <td>{{ degree.id }}</td>
          <td>{{ degree.name }}</td>
          <td>{{ degree.code }}</td>
          <td>{{ degree.yearsToComplete }}</td>
          <td>{{ degree.active ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </div>