<br>
<div>
    <div class="filter-container">
        <label for="semestarfilter">Semestar:</label>
        <input [(ngModel)]="semestarfilter" (input)='applyFilters()' name="semestarfilter" class="input-field"/>
    </div>
    <button style="background-color: rgb(0, 192, 250); color: white;"><a routerLink="/episode-add" class="add-episode">Add New Episode</a></button>
    <br>
    <table>
        <thead>
            <tr>
                <th (click)="sortByID()">ID</th>
                <th (click)="sortByName()">Name</th>
                <th>Code</th>
                <th>Semestar</th>
                <th>YearOfStudy</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.semester }}</td>
                <td>{{ course.code }}</td>
                <td>{{ course.yearofStudy }}</td>
                <td>
                    <button style="background-color: blue; color: white;" (click)="viewCourseDetails(course)">View</button>
                    <button style="background-color: rgb(21, 177, 15); color: white;" (click)="ediCourse(course)">Edit</button>
                    <button style="background-color: red; color: white;" (click)="deleteCourse(course)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>