.statistics {
    margin: 20px;
}

.statistics h1 {
    margin-bottom: 20px;
}

.statistics div {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

