<div class="container">
    <h2>About</h2>
    <div class="student-info">
      <h3>Student Information</h3>
      <ul>
        <li><strong>Name:</strong> {{ student.firstName }} {{ student.lastName }}</li>
        <li><strong>Student ID:</strong> {{ student.studentId }}</li>
        <li><strong>Date of Birth:</strong> {{ student.dateOfBirth }}</li>
        <li><strong>Email:</strong> {{ student.email }}</li>
        <li><strong>Degree:</strong> {{ student.degree }}</li>
        <li><strong>Year of Study:</strong> {{ student.year }}</li>
      </ul>
    </div>
</div>
  