<div>
    <h1>Edit Student</h1>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="firstName">First Name:</label>
        <input id="firstName" formControlName="firstName" />
      </div>
      <div>
        <label for="lastName">Last Name:</label>
        <input id="lastName" formControlName="lastName" />
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" />
      </div>
      <div>
        <label for="degree">Degree:</label>
        <select id="degree" formControlName="degree">
          <option *ngFor="let degree of degrees" [value]="degree.name">
            {{ degree.name }}
          </option>
        </select>
      </div>
      <div>
        <label for="year">Year:</label>
        <input id="year" type="number" formControlName="year" />
      </div>
      <button type="submit" [disabled]="editForm.invalid">Save</button>
    </form>
  </div>
  